<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hackers@UPC - Flask-a-judge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Hackers@UPC - Flask-a-judge</h2>
  <hr />
  <p>Start writing code and, when you're done, click to see if it makes sense!</p>
  <form>
    <div class="form-group">
      <label for="sourcecode">Code:</label>
      <textarea style="font-family: Liberation Mono" class="form-control" rows="20" name="sourcecode" id="sourcecode">{{ init_code }}</textarea>
    </div>
    <div class="form-group">
      <label for="custominput">Custom input:</label>
      <textarea style="font-family: Liberation Mono" class="form-control" rows="5" name="custominput" id="custominput">{{ init_input }}</textarea>
    </div>
	<button type="submit" class="btn btn-default">Compile 'n' run!</button>
  </form>
</div>

</body>
</html>

